@import "../../assets/scss/variables.scss";
.register--bg {
  background-image: url("https://www.charmcharter.se/assets/images/skargarden-2000px.jpg");
  position: relative;
  top: -10px;
  min-height: 83vh;

  @media screen and (min-width: 768px) {
    height: 90%;
  }
}
