@media screen and (max-width: 1280px) { 

    .search--width {
        width: 20vw;
    }

    .card__text {
        font-size: 1.1vw;
    }
  
    }

    @media screen and (max-width: 950px) { 

        .search--width {
            width: 25vw;
        }

        .card__text {
            font-size: 1.3vw;
        }
      
        }

@media screen and (max-width: 770px) { 

    .search--width {
        width: 30vw;
    }

    .cards-container {
        width: 100%;
    }

    .card__text {
        font-size: 1.5vw;
    }
  
    }

@media screen and (max-width: 650px) { 

    .search--width {
        width: 35vw;
    }

    .cards-container {
        width: 100%;
    }
      
    }


@media screen and (max-width: 600px) { 

    .search--width {
        width: 40vw;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        display: block;
    }

    .cards-container__card {
        background-color:rgb(230, 230, 230);
        width: 100%;
    }

    .card__title {
        font-size: 6vw;
    }

    .card__text {
        font-size: 2vw;
    }
  
    }