
.map-info-header {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.map-info-sub {
    font-size: .9rem;
    margin-bottom: 0.5rem;
}
.info-link {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: rgb(247,124,9);
}