.updateLocation-component {
  background-image: url("https://cdn.pixabay.com/photo/2019/07/31/12/18/rocks-4375073_960_720.jpg");

  .update-location-form {
    display: flex;
    flex-direction: column;
    .update-btn,
    .back-link {
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 768px) {
    height: 90vh;
  }
  @media screen and (max-width: 768px) {
    height: 85vh;
  }

  /*  .updateForm {
    @media screen and (max-width: 768px) {
      max-width: 90%;
      position: relative;
      top: -10px;
    }
  } */
}
