@import "../../assets/scss/variables.scss";

.footer-public {
  display: flex;
  width: 100%;
  height: 10vh;
  position: sticky;
  bottom: 0;
  background-color: $Account--bg;
  text-align: center;
  align-items: center;
  justify-content: center;
  a {
    .icon--space {
      margin: 1vw 9vw 0vw 9vw;
    }
  }
}

/* .container {
    display: flex;
    margin: auto;
    width: 100vw;
    height: 40vh;
    position: absolute;
    overflow: hidden;
    z-index: 90;
    bottom: 0;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
}

.container .alert {
    transform: translateY(150%);
    transition-timing-function: ease-in;
    transition: 0.45s;
  }

  .container.alert-is-shown .alert {
    transition: 0.45s;
    transition-timing-function: ease-out;
    transform: translateY(0);
    opacity: 1;
  }
  
  .alert {
    width: 100%;
    height: 100%;
    bottom: 0em;
    background: #d1f0c6;
    opacity: 0;
    position: absolute;
    z-index: 10;
  }

  .icon--space {

    margin: 1vw 11vw 0vw 11vw;
    
}
  
 */
