/* VARIABLES */

$Font: Montserrat, sans-serif;
$Primary: #22e3d3;
$Secondary: #22e3d3;
$Account--bg: #d1f0c6;
$Account--body: #95c683;
$OceanBlue: #d1f0c6;
$Spot-one: #313b3b;
$Spot-two: #222fe3;
$myFontSize: 18px;
// $myWidth: 680px;