/* VARIABLES */

$Font: Montserrat, sans-serif;
/* $Primary: #d1f0c6; */
$Primary: #2E579E;
$Secondary: #d1f0c6;
$Account--bg: #2E579E;
$Account--body: #d1f0c6;
$OceanBlue: #d1f0c6;
$Spot-one: #313b3b;
$Spot-two: #222fe3;
$myFontSize: 18px;
$IconColor: #f5f5f5;
$dropdown: #22447e;
$accordion: #ef8940;

// $myWidth: 680px;
