.map {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

    .info-box {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 80%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        z-index: 1;
        border-radius: 10px;

        .search {
            height: 2.2rem;
            width: 100%;
            max-width: 20rem;
            border-radius: 5px;

            &::placeholder {
                padding: 0.5rem;
            }
        }
      }
    .map-container {
        width: 100vw;
        height: 80vh;
    }
}
