
.addLocation-component {
    // background-image:url("https://cdn.pixabay.com/photo/2017/10/30/14/57/thin-2902686_960_720.jpg");
    background-image:url("https://cdn.pixabay.com/photo/2019/03/04/11/24/dunes-4033821_960_720.jpg");
    // background-image:url("https://cdn.pixabay.com/photo/2019/07/31/12/18/rocks-4375073_960_720.jpg");
    // no-repeat (center / cover);
    height: 90%;

    @media screen and (min-width: 768px) {
        height: 90vh;
      }
      @media screen and (max-width: 768px) {
        height: 85vh;

      }
      .addLocation {
        @media screen and (max-width: 768px) {
          max-width: 90%;
          position: relative;
          top: -10px;
        }
      }
}


