
.addLocation-component {
    background-image:url("https://images.photowall.com/products/57703/view-of-the-archipelago-swedish-west-coast.jpg?h=699&q=85");
    // no-repeat (center / cover);
    height: 90%;

    @media screen and (min-width: 768px) {
        height: 90vh;
      }
      @media screen and (max-width: 768px) {
        height: 85vh;

      }
      .addLocation {
        @media screen and (max-width: 768px) {
          max-width: 90%;
          position: relative;
          top: -10px;
        }
      }
}


