
.addLocation-component {
   
      background-image:url("https://imengine.lrf.infomaker.io/?uuid=933e1383-9254-455b-8147-5b0e5898ac5b&type=preview&source=&function=fit&width=1400&height=1000&q=80&maxsize=1400&name=klippbad-jpg");
    // no-repeat (center / cover);
    height: 90%;

    @media screen and (min-width: 768px) {
        height: 90vh;
      }
      @media screen and (max-width: 768px) {
        height: 85vh;

      }
      .addLocation {
        @media screen and (max-width: 768px) {
          max-width: 90%;
          position: relative;
          top: -10px;
        }
      }
}


