@import "../../assets/scss/variables.scss";

.profile {
  min-height: 83vh;
  /* margin-top: 2em; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: whitesmoke;
  background: #22447e;
  padding-top: 2rem;

  .profile-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .shadow-md {
      margin: 0 !important;
      padding: 0 !important;

      .accordion {
        width: 100%;

        h2 {
          font-size: 1rem;
          font-weight: bold;
          font-family: Montserrat;
        }
      }
    }

    .full__width {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .button-31 {
    width: 5vw !important;
    font-size: 1.5vw !important;
  }
}

@media screen and (min-width: 1100px) {
  .button-31 {
    width: 5vw !important;
    font-size: 1.5vw !important;
  }
}

@media screen and (min-width: 766px) {
  .button-31 {
    width: 15vw !important;
    font-size: 2.1vw !important;
  }
}

@media screen and (min-width: 600px) {
  .button-31 {
    width: 20vw;
    font-size: 2.5vw;
  }
}
