@import "../../assets/scss/variables.scss";

.modalWrapper {
  width: 100%;
  min-height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22447e;
  overflow: hidden;

  .container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 768px) {
      width: 90%;
    }
  }

  .contentent {
    flex-direction: row;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  h1 {
    font-size: 30px;
    font-weight: lighter;
  }

  p {
    margin: 10px 0;
    font-weight: 500;
    line-height: 25px;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    display: inline-block;
    letter-spacing: 2px;

    &:hover {
      color: white;
    }
  }
}
