@import "../../assets/scss/variables.scss";

.modalWrapper {
  width: 100%;
  min-height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dropdown;

  .container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 768px) {
      width: 90%;
    }
  }

  .contentent {
    flex-direction: row;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  h1 {
    font-size: 30px;
    font-weight: lighter;
  }

  p {
    margin: 10px 0;
    font-weight: 500;
    line-height: 25px;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    display: inline-block;
    letter-spacing: 2px;

    &:hover {
      color: white;
    }
  }
}

/* .left {
  width: 60%;
  height: 700px;
  background: url("https://www.mullsjo.se/images/18.737d400e171ac5296c85bb31/1589789558447/hopptornet-sol.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
    // no-repeat (center / cover);
  border-radius: 8px;
} */

/* .right {
  width: 40%;
  min-height: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 8px;
  color: black;
  margin-left: -500px;
  margin-top: 250px;

  h1 {
    font-size: 30px;
    font-weight: lighter;
  }

  p {
    margin: 10px 0;
    font-weight: 500;
    line-height: 25px;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(122, 122, 122);
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;

    &:hover {
      color: white;
    }
  }
} */

/* @media only screen and (max-width: 928px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }

  .left {
    width: 90%;
    height: 400px;
  }

  .right {
    width: 80%;
    margin: 0;
    margin-top: -100px;
  }
} */
