@import '../../variables';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    background-color: $Primary;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 0.5em;

    .logo {
        display: inline-block;
        width: 15vw;
    }
    .icon {

    }
    .hamburger {
        

        &__lines {
           

        }
    }
}