/* VARIABLES */
.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #22e3d3;
  z-index: 2;
}

.nav .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  background-color: #22e3d3;
  margin: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  z-index: 3;
}

.nav .navbar .logo {
  display: inline-block;
  width: 15vw;
}

.nav .navbar .logo:hover {
  cursor: pointer;
}

.nav .navbar .hamburger {
  right: 1rem;
  top: 1.2rem;
  width: 30px;
  height: 30px;
}

.nav .navbar .hamburger__lines {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  height: 3px;
  width: 28px;
  background-color: #fff;
}

.nav .navbar .hamburger__lines::before {
  content: "";
  position: absolute;
  top: -8px;
  right: -0px;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav .navbar .hamburger__lines::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 4px;
  width: 24px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav .navbar .hamburger__lines.open {
  background: transparent;
}

.nav .navbar .hamburger__lines.open::before {
  -webkit-transform: rotate(45deg) translate(4px, 8px);
          transform: rotate(45deg) translate(4px, 8px);
}

.nav .navbar .hamburger__lines.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(6px, -5px);
          transform: rotate(-45deg) translate(6px, -5px);
}

.nav .navbar .hamburger:hover {
  cursor: pointer;
}

.nav .dropdown {
  position: absolute;
  left: 0;
  top: -100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #22e3d3;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.nav .dropdown .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.nav .dropdown .link-wrapper__link {
  padding: 1rem 0;
  color: #fff;
  font-size: 1.5rem;
}

.nav .dropdown .link-wrapper__link:hover {
  cursor: pointer;
  color: #FE7C0A;
}

.nav .dropdown .link-wrapper__link.active {
  color: #FE7C0A;
}

.nav .dropdown.open {
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  left: 0;
}
/*# sourceMappingURL=navbar.css.map */