.login--bg {
  background-image: url("https://www.charmcharter.se/assets/images/skargarden-2000px.jpg");
  height: 90%;
  min-height: 84vh;

  .bg-white {
    animation: 1s ease-out 0s 1 slideInFromBottom;

    @keyframes slideInFromBottom {
      0% {
        transform: translateY(0);
        opacity: 0.5;
      }
      100% {
        transform: translateX(25);
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .login--bg {
    padding: 8.5rem 0;
  }
}
@media screen and (max-width: 768px) {
  .login--bg {
    padding: 6.5rem 0;
  }
}
