.login--bg {
  background-image: url("https://images.pexels.com/photos/219998/pexels-photo-219998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 90%;
  min-height: 84vh;
}

@media screen and (max-width: 414px) {
  .login--bg {
    padding: 8.5rem 0;
  }
}
@media screen and (max-width: 768px) {
  .login--bg {
    padding: 6.5rem 0;
  }
}
